@model DoAnChuyenNganh.Models.ThanhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div>
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <h4>ThanhVien</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:50px">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a href="@Url.Action("Delete","ThanhViens", new {id=Model.MaThanhVien})" class="btn btn-outline-danger">Delete</a> |
                <a href="@Url.Action("Index","ThanhViens")" class="btn btn-outline-secondary">Back to list</a>
            </div>
        }
    </dl>

    
</div>
