@model DoAnChuyenNganh.Models.ThanhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <h2>Details</h2>
    <h4>ThanhVien</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:50px">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XacNhanMatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XacNhanMatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <p>
            <a href="@Url.Action("Edit","ThanhViens", new {id=Model.MaThanhVien})" class="btn btn-outline-primary">Edit</a> |
            <a href="@Url.Action("Index","ThanhViens")" class="btn btn-outline-secondary">Back to list</a>
        </p>
    </dl>
</div>

