@model IEnumerable<DoAnChuyenNganh.Models.ThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XacNhanMatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThanhVien.TenLoaiThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XacNhanMatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHienThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                <a href="@Url.Action("Edit","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-primary">Edit</a>
                <a href="@Url.Action("Details","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-info">Details</a>
                <a href="@Url.Action("Delete","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
    <p>
        <input type="submit" value="Create" href="@Url.Action("Create","ThanhViens")" class="btn btn-outline-success" />
    </p>
</table>
