@model IEnumerable<DoAnChuyenNganh.Models.ThanhVien>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover">
    <tr>
        <td align="left" style="height:150px">
            <h2>@ViewBag.Title</h2>
            <a href="@Url.Action("Create","ThanhViens")" class="btn btn-outline-success">Create</a>
            @using (Html.BeginForm("Index", "ThanhViens", FormMethod.Get, new { @class = "form-inline" }))
            {
                <br />
                <div class="form-group form-inline" style="display: flex;">
                    <input type="Text" style="width: 300px" class="form-control col-md-10" value="@ViewBag.Keyword"
                           name="searchString" placeholder="Từ khóa">

                </div>
                <input type="submit" class="btn btn-info" value="Tìm Kiếm" style="margin-left:-40px">
            }
        </td>
    </tr>
    <tr style="height:50px;">
        <th>
            @Html.DisplayNameFor(model => model.LoaiThanhVien.TenLoaiThanhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            Tác vụ
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThanhVien.TenLoaiThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHienThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                <a href="@Url.Action("Edit","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-primary">Edit</a>
                <a href="@Url.Action("Details","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-info">Details</a>
                <a href="@Url.Action("Delete","ThanhViens", new {id=item.MaThanhVien})" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }

</table>
