@model IEnumerable<DoAnChuyenNganh.Models.LoaiThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiThanhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiThanhVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiThanhVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiThanhVien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiThanhVien }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiThanhVien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiThanhVien })
        </td>
    </tr>
}

</table>
