@model IEnumerable<DoAnChuyenNganh.Models.LoaiThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <th>
                Mã loại thành viên
            </th>
            <th>
                Loại thành viên
            </th>
            <th>
                Tác vụ
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoaiThanhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiThanhVien)
                </td>
                <td>
                    <a href="@Url.Action("Edit","LoaiThanhViens", new {id=item.MaLoaiThanhVien})" class="btn btn-outline-primary">Edit</a>
                    <a href="@Url.Action("Details","LoaiThanhViens", new {id=item.MaLoaiThanhVien})" class="btn btn-outline-info">Details</a>
                    <a href="@Url.Action("Delete","LoaiThanhViens", new {id=item.MaLoaiThanhVien})" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>
<div>
    <a href="@Url.Action("Create","LoaiThanhViens")" class="btn btn-outline-success">Create</a>
</div>

