@model DoAnChuyenNganh.Models.ThanhVien
@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

@{
    MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
    exampleCaptcha.UserInputID = "CaptchaCode";
}


@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<!--form login-->
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block"> <img src="~/Assets/images/dangnhap.jpg" style="width:450px" /></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                                {
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   name="Email" aria-describedby="emailHelp"
                                                   placeholder="Email hoặc số điện thoại">
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   name="MatKhau" placeholder="Mật khẩu">
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Nhớ tài khoản
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Đăng nhập bằng google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div>
                                        <div style="float:left">
                                            <a class="small" href="forgot-password.html">Quên mật khẩu?</a>

                                        </div>
                                        <div style="float:right">
                                            <a class="small" href="@Url.Action("DangKy","Home")">Chưa có tài khoản?</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




@*<section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <div class="row justify-content-around">
                                    @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                                    {
                                        <h1 class="text-center text-uppercase h3 py-3"> Đăng Nhập</h1>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Email hoặc số điện thoại</label>
                                            <input type="email" id="form3Example1cg" class="form-control form-control-lg"
                                                   name="Email" />
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cdg">Mật khẩu</label>
                                            <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                                                   name="MatKhau" />
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <input type="Checkbox" name="remember-me" id="remember-me">
                                        <label for="p-3">Lưu tài khoản</label>
                                        <a style="float: right;" href="#">Quên mật khẩu? </a>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit"
                                                    class="btn btn-primary btn-user btn-block">
                                                Đăng nhập
                                            </button>
                                        </div>
                                        <p>
                                            Chưa có tài khoản?
                                            <a href="@Url.Action("DangKy","Home")">Đăng ký | </a>
                                            <a style="float: right;" href="@Url.Action("Index","Home")">Trang chủ</a>
                                        </p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--end form login-->
