
@model DoAnChuyenNganh.Models.ThanhVien
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block"><img src="~/Assets/images/dangky.jpg" style="width:450px" /></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản!</h1>
                        </div>
                        <h4 style="color: #39b900; font-size: 40px;text-align:center">@ViewBag.ThongBaoThanhCong</h4>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form class="user">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="TenHienThi"
                                           placeholder="Tên hiển thị">
                                    @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="Email"
                                           placeholder="Email hoặc số điện thoại">
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               name="MatKhau" placeholder="Mật khẩu">
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               name="XacNhanMatKhau" placeholder="Xác nhận mật khẩu">
                                        @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                    </div>

                                    <div>
                                        <span style="color: #ff0000; font-size: 20px">@ViewBag.ThongBaoThatBai</span>
                                        <span style="color: #39b900; font-size: 20px">@ViewBag.ThongBaoThanhCong</span>
                                    </div>
                                </div>
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Đăng ký tài khoản
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Đăng ký với Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với Facebook
                                </a>
                            </form>

                            <hr>
                            <div>
                                <div style="float:left">
                                    <a class="small" href="forgot-password.html">Quên mật khẩu?</a>

                                </div>
                                <div style="float:right">
                                    <a class="small" href="@Url.Action("DangNhap", "Home")">Đã có tài khoản?</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="@Url.Action("Index","Home")">Trang chủ</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
