
@model DoAnChuyenNganh.Models.ThanhVien
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

@{
    MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
    exampleCaptcha.UserInputID = "CaptchaCode";
}



<section class="ftco-section ftco-no-pt bg-light">

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"> <img src="~/Assets/images/dangky.jpg" style="width:450px"/></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản</h1>
                            </div>
                            <form class="user">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="TenHienThi"
                                               placeholder="Tên hiển thị">
                                        @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @style = "margin-bottom:15px; color:#DC143C;" })

                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="Email"
                                               placeholder="Email hoặc số điện thoại">
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user"
                                                   name="MatKhau" placeholder="Mật khẩu">
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user"
                                                   name="XacNhanMatKhau" placeholder="Xác nhận mật khẩu">
                                            @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                    </div>
                                    <div>
                                        <span style="color: #ff0000; font-size: 20px">@ViewBag.ThongBaoThatBai</span>
                                        <span style="color: #39b900; font-size: 20px">@ViewBag.ThongBaoThanhCong</span>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary btn-user btn-block">
                                        Đăng ký
                                    </button>
                                    <hr>
                                    <div>
                                        <div style="float:left">
                                            <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
                                        </div>
                                        <div style="float:right">
                                            <a class="small" href="@Url.Action("DangNhap", "Home")">Đã có tài khoản?</a>

                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


@*<section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Đăng ký thành viên</h2>
                                <form>
                                    <h4 style="color: #39b900; font-size: 40px;text-align:center">@ViewBag.ThongBaoThanhCong</h4>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Email</label>
                                            <input type="email" id="form3Example1cg" class="form-control form-control-lg"
                                                   name="Email" />

                                            @Html.ValidationMessageFor(model => model.Email, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cdg">Mật khẩu</label>
                                            <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                                                   name="MatKhau" />

                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Xác nhận mật khẩu</label>

                                            <input type="password" id="form3Example1cg" class="form-control form-control-lg"
                                                   name="XacNhanMatKhau" />

                                            @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>


                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Tên hiển thị</label>
                                            <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                                   name="TenHienThi" />

                                            @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @style = "margin-bottom:15px; color:#DC143C;" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.Captcha(exampleCaptcha)
                                            @Html.TextBox("CaptchaCode")
                                        </div>

                                        <div>
                                            <span style="color: #ff0000; font-size: 20px">@ViewBag.ThongBaoThatBai</span>
    <span style="color: #39b900; font-size: 20px">@ViewBag.ThongBaoThanhCong</span>
    </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                                Đăng ký
                                            </button>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
