@model DoAnChuyenNganh.Models.BaiViet

@{
    ViewBag.Title = "UploadHinh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow">
    <div class="card-body">
        <h4>@Html.ActionLink("Địa Điểm", "Index") > Upload hình</h4>
        <h3 class="text-info mb-3">Tên địa điểm: @Model.TieuDeChinh</h3>
        <div class="text-danger"> @ViewBag.ThongBao</div>

        @using (Html.BeginForm("UploadHinh", "QuanLyBaiViet", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h4>Hình ảnh</h4>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="inputfile" name="HinhAnh" multiple>
                <label class="custom-file-label" for="inputfile">Chọn hình ảnh</label>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Upload</button>
                @Html.ActionLink("Trở về", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary " })
            </div>
        }
    </div>
</div>



