@model DoAnChuyenNganh.Models.Xe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card shadow flex-md-fill">
    <div class="card-body">
        <h4>@Html.ActionLink("Chủ đề", "Index") > Xóa</h4>
        <h4 class="card-title">Thông tin</h4>
        <hr />
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.HinhThucDatXe.TenHinhThucDatXe)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.HinhThucDatXe.TenHinhThucDatXe)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.LoaiXe.TenLoaiXe)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.LoaiXe.TenLoaiXe)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.NhaSanXuat.TenNhaSanXuat)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.NhaSanXuat.TenNhaSanXuat)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.TenXe)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.TenXe)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Gia)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.Gia)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.HinhAnh)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.HinhAnh)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MoTa)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MoTa)</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" href="@Url.Action("Delete","Xes")" class="btn btn-outline-danger" />
                        <a href="@Url.Action("Index","Xes")" class="btn btn-outline-secondary">Back to list</a>
                    </div>
                }
            </div>
            
        </div>


    </div>
</div>




