@using PagedList.Mvc;
@model IEnumerable<DoAnChuyenNganh.Models.Xe>
@{
    ViewBag.Title = "Danh sách xe";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover">
    <tr>
        <td align="left" style="height:150px">
            <h2>@ViewBag.Title</h2>
            <a href="@Url.Action("Create","Xes")" class="btn btn-outline-success">Create</a>
            <p>
                @Html.ActionLink("ImportExcel", "ImportExcel", "Excel")
            </p>
            @using (Html.BeginForm("Index", "Xes", FormMethod.Get, new { @class = "form-inline" }))
            {
                <br />
                <div class="form-group form-inline" style="display: flex;">
                    <input type="Text" style="width: 300px" class="form-control col-md-10" value="@ViewBag.Keyword"
                           name="searchString" placeholder="Từ khóa">

                </div>
                <input type="submit" class="btn btn-info" value="Tìm Kiếm" style="margin-left:-40px">
            }
        </td>
    </tr>
    
    <tr style="height:50px;">
        <th>
            Loại xe
        </th>
        <th>
            Tên nhà sản xuất
        </th>
        <th>
            Tên xe
        </th>
        <th>
            Giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Tác vụ
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiXe.TenLoaiXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <img src="~/Assets/images/xe/@Url.Content(item.HinhAnh)" style="width:250px; height:200px" alt="Lỗi load hình" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a href="@Url.Action("Edit","Xes", new {id=item.MaXe})" class="btn btn-outline-primary">Edit</a>
                <a href="@Url.Action("UploadHinh","Xes", new {id=item.MaXe})" class="btn btn-info">Upload Img</a>
                <a href="@Url.Action("Delete","Xes", new {id=item.MaXe})" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
</table>
<br />
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))*@

