@model IEnumerable<DoAnChuyenNganh.Models.Xe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover">
    <tr>
        <th>
            Loại xe
        </th>
        <th>
            Tên nhà sản xuất
        </th>
        <th>
            Tên xe
        </th>
        <th>
            Giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Tác vụ
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiXe.TenLoaiXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <img src="~/Assets/images/xe/@Url.Content(item.HinhAnh)" style="width:250px; height:200px" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a href="@Url.Action("Edit","Xes", new {id=item.MaXe})" class="btn btn-outline-primary">Edit</a>
                <a href="@Url.Action("Details","Xes", new {id=item.MaXe})" class="btn btn-outline-info">Details</a>
                <a href="@Url.Action("Delete","Xes", new {id=item.MaXe})" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
    
</table>
<p>
    <input type="submit" value="Create" href="@Url.Action("Create","Xes")" class="btn btn-outline-success" />
</p>