@model DoAnChuyenNganh.Models.DiaDiem

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<script>
    //script cho text editor tinymce
    tinymce.init({
        selector: '#mytextarea',

        height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
</script>

<script>
    //script cho datepicker
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>


<div class="card flex-md-fill">
    <div class="card-body">
        <h4>@Html.ActionLink("Địa Điểm", "Index") > Chỉnh sửa</h4>
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <hr />
        @using (Html.BeginForm("ChinhSua", "QuanLyDiaDiem", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Hidden("MaDiaDiem", Model.MaDiaDiem)

                <div class="form-group row">
                    <i class="fas fa-box fa-lg ml-3 col-form-label" style="color: rgba(71, 108, 218); height: 2em;width: 1em;"></i>
                    @Html.LabelFor(model => model.TenDiaDiem, htmlAttributes: new { @class = "col-form-label font-weight-bold col-sm-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TenDiaDiem, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDiaDiem, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <i class="fas fa-coins fa-lg ml-3 col-form-label" style="color: rgba(71, 108, 218); height: 2em;width: 1em; "></i>
                    @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "col-form-label font-weight-bold col-sm-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <i class="fas fa-image fa-lg ml-3 col-form-label" style="color: rgba(71, 108, 218); height: 2em;width: 1em;"></i>
                    @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "col-form-label font-weight-bold col-sm-2" })
                    <div class="col-md-6">
                        <img src="@Url.Content("~/Assets/images/dia_diem/" + Model.HinhAnh)" width="150" height="150" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="submit" value="Chỉnh sửa" class="btn btn-sm btn-primary font-weight-bold w-25" />
                        @Html.ActionLink("Trở về", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold w-25" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

