@model DoAnChuyenNganh.Models.DiaDiem

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow flex-md-fill">
    <div class="card-body">
        <h4>@Html.ActionLink("Địa Điểm", "Index") > Xóa</h4>
        <h4 class="card-title">Thông tin địa điểm</h4>
        <hr />
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MaDiaDiem)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MaDiaDiem)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.TenDiaDiem)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.TenDiaDiem)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.NoiDung)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.NoiDung)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.HinhAnh)</label>
            <img src="@Url.Content("~/Assets/images/dia_diem/" + Model.HinhAnh)" class="img-thumbnail" alt="Cinque Terre" width="200" height="200">
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-sm btn-primary font-weight-bold w-25" />
                    @Html.ActionLink("Trở về", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold w-25" })
                }
            </div>
        </div>


    </div>
</div>