@using DoAnChuyenNganh.Models
@model List<GioHang>

@{
    ViewBag.Title = "DatXe";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Assets/images/nen2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index","Home")">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Đặt xe <i class="ion-ios-arrow-forward"></i></span></p>

            </div>
        </div>
    </div>
</section>

<div class="container flex-md-fill">
    <h3 style="text-align:center;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Chi tiết đặt xe</h3>
    <div class="row ">
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" style="width:100px">Hình Ảnh</th>
                        <th style="text-align:center">Tên xe</th>
                        <th style="text-align:center">Số Ngày</th>
                        <th style="text-align:center">Giá trên ngày</th>
                        <th style="text-align:center">Thành tiền</th>
                        <td width="100px"></td>

                    </tr>

                    @foreach (var item in Model)
                    {
                    <tbody>
                        <tr>
                            <td><img style="height:250px; width:300px" src="~/Assets/images/xe/@item.iHinhAnh" /></td>
                            <td style="text-align:center">@item.iTenXe</td>
                            @using (Html.BeginForm("CapnhatGiohang", "DatXe", new { @iMaXe = item.iMaXe }))
                            {
                                <td style="text-align:center"><input name="txtSoluong" value="@item.iSL" min="0" step="1" type="number" class="form-control" style="width:100px" /></td>
                                <td style="text-align:center">@String.Format("{0:0,0}", item.iGia) VND </td>
                                <td style="text-align:center">@String.Format("{0:0,0}", item.iTHANHTIEN) VND</td>                             
                                <td><input type="submit" value="Cập nhật" /></td>
                            }
                        </tr>

                    </tbody>
                }
                    <tr style="font-weight:bold; text-align:right;color:red">
                        <td colspan="4">Số ngày: @ViewBag.Tongsoluong</td>
                        
                        <td colspan="5"> Tổng tiền :@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
                    </tr>
                    
                    <tr style="font-weight:bold; color:black; text-align:center">
                        <td colspan="9">
                            @Html.ActionLink("ĐẶT XE", "DatHang")
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

